[phases.setup]
nixPkgs = ["python3", "gcc", "cairo", "pkg-config", "pango", "gdk-pixbuf"]

[phases.install]
cmds = [
  "python -m venv --copies /opt/venv",
  ". /opt/venv/bin/activate && pip install -r requirements.txt"
]

[start]
cmd = "uvicorn api.app:app --host 0.0.0.0 --port $PORT"
